$color: (
    primary: #FAB440,
    secondary: #4E47C6,
    background: #FFF,
    text-title: #333,
    text-body: #555
);

$border-radius: 4px;
$shadow: 0 2px 10px rgba(0, 0, 0, .1);

html, body {
    margin: 0;
    background-color: map-get($color, background);
    font-family: "Noto Sans", "Lato", sans-serif, "eicons";
}

header {
    display: flex;
    align-items: center;
    height: 50px;
    box-shadow: $shadow;

    nav {
        display: flex;
        height: 100%;
    
        a {
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            height: 100%;
            padding: 0 30px;
            text-decoration: none;
            color: map-get($color, text-body);

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 8px;
                border-radius: 4px;
                bottom: -4px;
                left: 0;
                background-color: map-get($color, primary);
                transform: scaleX(0);
                transform-origin: center;
                transition: .3s;
            }

            &.active::after {
                transform: scaleX(1);
            }
        }
    }

    .language-switch {
        margin-left: auto;
        margin-right: 10px;

        a {
            cursor: pointer;
            padding: 5px 10px;
            border-radius: $border-radius;
            font-size: 12px;
            color: map-get($color, text-body);

            &:hover {
                background-color: #EEE;
            }
            
            &.active {
                background-color: #DDD;
            }
            
            + a {
                margin-left: 5px;
            }
        }
    }
}

.menu {
    padding: 20px;
    
    .category {
        padding-bottom: 20px;
        h3 {
            margin: 0;
            color: map-get($color, text-title);
        }

        + .category {
            border-top: 1px solid #DDD;
            padding-top: 20px;
        }
    }

    .items {
        display: flex;
        flex-wrap: wrap;

        > div {
            display: flex;
            flex-direction: column;
            flex: 0 0 150px;
            align-items: center;
            
            .itemPic {
                width: 100%;
                height: 140px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            .itemName {
                font-size: 16px;
                color: map-get($color, text-body);
                text-align: center;
            }

            .addToCart {
                margin-top: auto;
            }
        }
    }
}

.cartIcon {
    cursor: pointer;
    position: fixed;
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 20px;
    background-color: map-get($color, background);
    border-radius: 50%;
    box-shadow: $shadow;

    path {
        stroke: map-get($color, secondary);
    }

    &:hover {
        background-color: map-get($color, secondary);
        path {
            stroke: #FFF;
        }
    }

    .cartItemsSum {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -2px;
        right: -2px;
        width: 20px;
        height: 20px;
        background-color: #E00;
        color: #FFF;
        border-radius: 50%;
        font-size: 14px;
    }
}

.button {
    cursor: pointer;
    user-select: none;
    padding: 0 20px;
    height: 28px;
    line-height: 28px;
    border-radius: $border-radius;
    font-size: 14px;

    &:hover {
        opacity: .8;
    }

    &.button-primary {
        font-weight: bold;
        color: #FFF;
        background-color: map-get($color, secondary);
    }

    &.button-gray {
        color: #999;
        background-color: #EEE;
    }
}

.quantitySelector {
    display: flex;
    flex: 0 0 92px;
    height: 24px;
    border-radius: $border-radius;
    overflow: hidden;
    border: 1px #DDD solid;

    div[class^="button"] {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #DDD;
        width: 24px;
        height: 24px;
    }

    input[type="number"] {
        width: 40px;
        border: none;
        text-align: center;
        font-size: 16px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.popup-container {
    position: fixed;
    z-index: 2000;
    padding: 20px;
    border-radius: $border-radius;
    background-color: map-get($color, background);
    box-shadow: $shadow;
}

.addCartBlock {
    display: flex;
    align-items: center;

    .button {
        margin-left: 10px;
    }
}

.emptyCart {
    color: map-get($color, text-body);
}
.cartList {
    top: 0;
    right: 0;
    width: 500px;
    max-width: calc(100vw - 100px);
    height: 100vh;

    h2 {
        margin: 0;
        margin-bottom: 20px;
    }

    .cartItemContainer {
        max-height: calc(100vh - 140px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .cartItem {
        display: flex;
        align-items: center;

        .cartItemPic {
            display: flex;
            flex: 0 0 100px;
            width: 100px;
            height: 100px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .cartItemName {
            display: flex;
            flex-shrink: 0;
            font-size: 16px;
            color: map-get($color, text-body);
            text-align: center;
        }
        .quantitySelector {
            margin-left: auto;
        }
        .cartRemoveButton {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-left: 10px;

            &:hover {
                opacity: .8;
            }
        }
    }

    .cartButtons {
        margin-top: 20px;
        display: flex;
        justify-content: end;
        
        .button + .button {
            margin-left: 10px;
        }
    }
}

.alert {
    display: flex;
    z-index: 5000;
    flex-direction: column;
    align-items: center;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    p {
        color: map-get($color, text-body);
    }
}

.loading {
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .9);

    &::before, &::after{
        content: '';
        position: absolute;
        border-width: 6px;
        height: 60px;
        width: 60px;
        margin: calc( 60px / -2);
    }

    &::before{
        z-index:10;
        top: 50%;
        left: 50%;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0);
        border-radius: 50%;
        border-top-color: map-get($color, primary);
        animation: spin 1.5s linear infinite;
    }

    &::after{
        top: 50%;
        left: 50%;
        border-style: solid;
        border-color: #f3f3f3; 
        border-radius: 50%;
        border-top-color: map-get($color, primary);
        border-left-color: map-get($color, primary);
        opacity: .5;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.historyBlock {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    + .historyBlock {
        border-top: 1px solid #DDD;
    }
    .historyID {
        font-size: 14px;
        color: #AAA;
        margin: 0;
    }

    ul {
        margin: 0;
        padding-left: 20px;
        
        li {
            padding: 5px 0;
            color: map-get($color, text-body);

            span + span {
                margin-left: 10px;
            }
        }
        
    }

    .historyButtons {
        display: flex;
        margin-top: 10px;
        .button + .button {
            margin-left: 10px;
        }
    }
}
